  #first{
    height: 4rem;
    width: 4rem;
    background: rgb(0, 26, 255);
    }
    
    #second{
        height: 4rem;
        width: 4rem;
        background: rgb(255, 251, 0);
        }
        
    #Third{
            height: 4rem;
            width: 4rem;
            background: rgb(255, 38, 0);
            }
    